*{
    margin: 0%;
    padding: 0%;
}

h1{
    text-align:center; 
     position: absolute;
      top: 15%;
       left: 50%;
        transform: translate(-50%, -50%);
         color:white;
          font-family:single day;
}

h5{
    text-align:center; 
     position: absolute;
      top: 20%;
       left: 50%; 
       transform: translate(-50%, -50%); 
       color:white; 
       font-family:Sansita Swashed;
}

form{
    position:absolute;
     top: 30%;
      left:50%;
        font-family:Sansita Swashed ;
        gap:0px;
        transform: translate(-50%, -50%);
        color:white;
}
#date{
    background-color:rgba(255, 255, 255, 0.336);
    color: white;
    width: 11em;
}

#exact{
    background-color:rgba(255, 255, 255, 0.336);
    color: white;
    width: 11em;
}

#date2{
    background-color:rgba(255, 255, 255, 0.336);
    color: white;
    width: 11em;
}

/* #op1{
    color: white;

} */

input{
    width: 4em;
    background-color: rgba(255, 255, 255, 0.336);
    border: rgba(255, 255, 255, 0.336);
    border-radius: 5px;
    color:#EFBA89;
}
option{
    color: black;
}

h2{
    text-align: center;
    margin-top: 1em;
    font-family: Signika Negative;
}

h3{
    text-align: center;
    margin-top: 1em;
    color: #76481E;
    font-family: Simonetta;
}
/* #all{
    display: flex;
    flex-wrap: wrap;
    gap: 250px;
    position: absolute;
    top: 95%;
} */

/* #all{
    display: flex;
    flex-wrap: wrap;
    gap: 250px;
    position: absolute;
    top: 95%;
} */

#rania{
    width: 10em;
    margin-top: -12em;
    margin-left: 7em;
}

#rectangle{
    margin-top: 9em;
}
#home2{
    margin-top: -7em;
    width: 40em;
    height: 33em;


}
#name{
    text-align: center;
    font-size: 1.5em;
}
#text{
    font-family: Share Tech;
}
/* #i{
    font-family:Simonetta ;
    color: black;
} */


#creator{
    text-align: center;
    color: #76481E;
    font-family: Simonetta;
}
#join{
    color: #76481E;
    font-family: Simonetta;
    text-align: end;
}
a{
    color: #76481E;
    text-decoration: none;
       
}
a:hover{
    color: rgb(255, 255, 255);
}  

#place{
    margin-top:24em;
    text-align: center;
    font-family: Rubik;
    color: black;
}

/* #morocco{
    transform: rotate(3.3deg);
     display: flex;
    flex-wrap: wrap;
    gap: 250px;
    position: absolute;
    top: 95%; 
} */
#home{
    /* margin-top: 34em; */
    width: 40em;
    height: 33em;
}

/* #second{
    display: flex;
    flex-wrap: wrap;
    gap: 250px;
    left: 60%;
    position: absolute;
    top: 65%;
    text-align: center;
     font-size: 1.5em;
 
} */

#log{
    font-family: Sahitya;
    color: #76481E;
    text-align: center;
}
#veri{
    margin-top: 60em;
    text-align: center;
    font-family: Rubik;
    color: black;
}
#more{
    width: 3.2em;
}
#chef{
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hours{
    width: 3.2em;
}

#icon{
    color: #917051;
}
#desc{
    text-align: center;
}